.header-container {
  display: flex;
  padding-left: 100px;
  padding-right: 100px;
  align-items: center;
  background-color: #d6cda7;
  height: 7%;
}

.header-actions {
  margin-left: auto;
  display: flex;
  align-items: center;
  color: white;
}

.header-actions h2 {
  margin: 10px;
  font-size: 20px;
}

.header-actions a {
  margin: 10px;
  font-family: sans-serif;
  font-size: 20px;
  text-decoration: none;
  transition: all .5s ease-out;
}

.header-actions a:hover {
  color: aqua;
}

.action-button:hover {
  border: 1px solid aqua;
}

.title-text {
  font-family: Impact, serif;
  font-weight: 300;
}

.action-button {
  padding: 5px 20px;
  border: 1px solid #000;
  border-radius: 100px;
}

body {
  background-color: #fff4c5;
}

.body {
  padding: 4% 20%;
}

.content-grid {
  display: flex;
  flex-wrap: wrap;
}

.card-body {
  width: 200px;
  height: 250px;
  background-color: #fff;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
  padding: 10px;
  transition: all .5s ease-out;
}

.card-body:hover {
  background-color: #dddddd;
  margin: 10px 20px 20px 20px;
}

.card-title {
  margin: 10px;
  font-size: 20px;
  text-align: center;
}

.card-body img {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  max-height: 50%;
  display: block;
}

.card-description {
  text-overflow: ellipsis;
  overflow: hidden;
}

.truncate {
  background: inherit;
  padding: 10px;
}

.truncate p {
  margin: 0;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.auth-reg-body {
  display: flex;
}

.auth-reg-body div {
  margin: 20px;
}